<v-menu bottom left  max-width="320px" class="apps">
<v-btn icon slot="activator">
			      <v-icon>apps</v-icon>
			    </v-btn>

<v-list class="app-menu">
				<v-list-tile href="/documents">
               	 <v-list-tile-title><img src="{{assets}}/img/documents.png" width="60px"><br><span>Dokumente</span></v-list-tile-title>
              	</v-list-tile>
              	
              	<v-list-tile href="/music">
               	 <v-list-tile-title><img src="{{assets}}/img/music.png" width="60px"><br><span>Musik</span></v-list-tile-title>
              	</v-list-tile>
              	
              	<v-list-tile href="/sermons">
               	 <v-list-tile-title><img src="{{assets}}/img/sermons.png" width="60px"><br><span>Predigten</span></v-list-tile-title>
              	</v-list-tile>
              	
              	<v-list-tile href="/recipes">
               	 <v-list-tile-title><img src="{{assets}}/img/recipes.png" width="60px"><br><span>Rezepte</span></v-list-tile-title>
              	</v-list-tile>
              	
              	<v-list-tile href="/protocols">
               	 <v-list-tile-title><img src="{{assets}}/img/protocols.png" width="60px"><br><span>Protokolle</span></v-list-tile-title>
              	</v-list-tile>
              	
              	<v-list-tile href="/peaks">
               	 <v-list-tile-title><img src="{{assets}}/img/peaks.png" width="60px"><br><span>Bergtouren</span></v-list-tile-title>
              	</v-list-tile>
              	
              	<v-list-tile href="/translate">
               	 <v-list-tile-title><img src="{{assets}}/img/translate.png" width="60px"><br><span>Übersetzungen</span></v-list-tile-title>
              	</v-list-tile>
              	
              	<v-list-tile href="/books">
               	 <v-list-tile-title><img src="{{assets}}/img/books.png" width="60px"><br><span>Bücher</span></v-list-tile-title>
              	</v-list-tile>
	            </v-list>
	            </v-menu>
